/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    .nav-search {
        display: none !important;
    }

    .navbar-toggler i {
        color: var(--color-white);
    }

    .navbar {
        height: auto !important;
        padding-bottom: 0px !important;
        position: sticky;
        top: 0px !important;
    }

    .navbar-collapse {
        background-color: var(--color-white);
        color: var(--color-black);
        padding-bottom: 15px !important;
    }

    .navbar .nav-link {
        color: var(--color-black) !important;
    }


    .navbar .container {
        padding: 0px;
    }

    .navbar .container .navbar-brand {
        padding: 12px;
    }

    .navbar-toggler {
        padding-right: 20px !important;
    }

    .navbar-nav {
        height: auto !important;
        padding-bottom: 15px;
    }

    .tux-c-component-preview:not(.tux-c-component-preview--full) .tux-c-component-preview__wrapper,
    .tux-c-tabs--wide .tux-c-tabs__list,
    .tux-c-tabs.tux-c-tabs--cards .tux-c-tabs__list,
    .tux-c-tabs.tux-c-tabs--cards .tux-c-tabs__panel,
    .tux-l-wrap,
    .tux-l-wrap--lg,
    .tux-l-wrap--md,
    .tux-l-wrap--sm {
        margin-left: auto;
        margin-right: auto;
        padding-left: 1rem;
        padding-right: 1rem;
    }

    .tux-c-page-header {
        padding-bottom: 1rem;
        padding-top: 1rem;
    }

    .tux-c-page-header__heading {
        font-size: 2rem;
        font-weight: 600 !important;
    }

    .home__bg {
        height: auto !important;
    }

    .home__register {
        height: auto;

    }

    .hero-b__content {
        display: none;
    }

    .hero-b__content2 {
        display: block;
    }

    .hero-b__content2 p {
        background-color: var(--color-white);
        color: var(--color-black) !important;
        padding: 10px 15px;
        font-size: 16px;
        font-weight: 500;
    }

    .home__bg {
        background-image: url(../Assets/car_admissions-hub_hero.jpg);
        background-repeat: no-repeat;
        height: 280px !important;
        background-size: cover;
    }

    .hero-b__heading h2 {
        color: var(--color-white) !important;
        font-size: 2.4rem;
        padding: 15px;

    }

    .head-and-txt {
        z-index: 2;
        width: auto;
        height: auto;
    }

    .home__register {
        width: 100%;
        background-color: var(--primary-color) !important;
        height: auto;
        padding: 30px;
    }

    .home-form h2 {
        font-size: 1.8rem !important;
        margin-bottom: 1rem;
    }

    .home-form p {
        font-size: 16px;
        font-family: 'QuietSans';
    }

    .margin1rm {
        margin-top: 1rem;
    }

    .form-check-label {
        padding-left: auto !important;
    }

    .btn-lg {
        padding: 15px 25px !important;
    }

    .personal-admission {
        padding: 0 0.5rem;
    }

    .key-admission-section {
        background-color: #f5f3f6 !important;
        padding: 20px;
    }

    .table>:not(caption)>*>* {
        padding: 1rem 0rem !important;
    }

    .personal-admission-txt {
        padding: 0.2rem;
    }

    .enrollment-div {
        width: 100%;
        color: #000;
        padding: 2.5rem 10px;
    }

    .footer-text p {
        text-align: left;
    }

    footer .text-end {
        text-align: left !important;
    }

    .tux-c-pipe-list,
    .socialandtext {
        flex-direction: column;
        align-items: start !important;
    }

    .tux-c-pipe-list>li:not(:first-of-type):before {
        content: "";
        margin-left: 0em;
        margin-right: 0em;
    }

    .Questions_Accordion .accordion {
        width: 100%;
        border-radius: 0px !important;
    }

    .Questions_Accordion {
        margin-top: 10px !important;
    }
}





/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    .nav-search {
        display: none;
    }

    .navbar {
        height: auto;
    }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {}


/* 
320px — 480px: Mobile devices
481px — 768px: iPads, Tablets
769px — 1024px: Small screens, laptops
1025px — 1200px: Desktops, large screens
1201px and more —  Extra large screens, TV */